<div id='new-landfile-links'>
  <%= link_to 'New Landfile', new_landfile_path, :remote => true, :'data-type' => 'html', :id => 'new-landfile-link' %>
  <br />
  <%= link_to 'New landfile with Attachment', new_landfile_path(:attachment => true), :remote => true, :'data-type' => 'html', :id => 'new-landfile-attachment-link' %>
</div>
