<h1>Listing landfiles</h1>

<table id="landfiles">
  <tr>
    <th>Name</th>
    <th>Postby</th>
    <th>Attachment</th>
    <th></th>
    <th></th>
  </tr>

  <%= render @landfiles %>
</table>

<br />

<%= render 'new_landfile_links' %>
